<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Algorithm selection</title>
</head>
<body>

<h1>Select a mitigation algorithm</h1>
<form action="/mitigation/{{data_name}}" method="post">
	<div>
		<h3>Preprocessing</h3>
		<input type="radio" name="algorithm" id="dir" value="1">
		<label for="dir">Disparate impact remover</label><br>
		<input type="radio" name="algorithm" id="lfr" value="2">
		<label for="lfr">Learning fair representation</label><br>
		<input type="radio" name="algorithm" id="rw" value="3">
		<label for="rw">Reweighing</label><br>
	</div>
	<div>
		<h3>Inprocessing</h3>
		<input type="radio" name="algorithm" id="ad" value="4" disabled>
		<label for="ad">Adversarial debiasing</label><br>
		<input type="radio" name="algorithm" id="gfc" value="5">
		<label for="gfc">Gerry fair classifier</label><br>
		<input type="radio" name="algorithm" id="mfc" value="6">
		<label for="mfc">Meta fair classifier</label><br>
		<input type="radio" name="algorithm" id="pr" value="7">
		<label for="pr">Prejudice remover</label><br>
		<input type="radio" name="algorithm" id="fb" value="8">
		<label for="fb">Fair batch</label><br>
		{% if data_name == 'pubfig' %}
			<input type="radio" name="algorithm" id="ffd" value="9">
		{% else %}
			<input type="radio" name="algorithm" id="ffd" value="9" disabled>
		{% endif %}
		<label for="ffd">Fair feature distillation (Image only)</label><br>
		{% if data_name == 'pubfig' %}
			<input type="radio" name="algorithm" id="fvae" value="10">
		{% else %}
			<input type="radio" name="algorithm" id="fvae" value="10" disabled>
		{% endif %}
		<label for="fvae">Fair variational auto-encoder(VAE) (Image only)</label><br>
		<input type="radio" name="algorithm" id="kde" value="11">
		<label for="kde">Kernel density estimation</label><br>
		{% if data_name == 'pubfig' %}
			<input type="radio" name="algorithm" id="lff" value="12">
		{% else %}
			<input type="radio" name="algorithm" id="lff" value="12" disabled>
		{% endif %}
		<label for="lff">Learning from fairness (Image only)</label><br>
	</div>
	<div>
		<h3>Postprocessing</h3>
		<input type="radio" name="algorithm" id="ceo" value="13">
		<label for="ceo">Calibrated equalized odds</label><br>
		<input type="radio" name="algorithm" id="eo" value="14">
		<label for="eo">Equalized odds</label><br>
		<input type="radio" name="algorithm" id="ro" value="15">
		<label for="ro">Reject option</label><br>
	</div>
	<input type="submit" name="submit" value="편향성 제거 시작">
</form>

</body>
</html>