<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Compare original vs. mitigated</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style/biaschart.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style/dlchart.css') }}">
</head>
<body>

	<h1>Compare</h1>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Original</th>
				<th>Mitigated</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Recall</th>
				<td>{{ original.performance.recall }}</td>
				<td>{{ mitigated.performance.recall }}</td>
			</tr>
			<tr>
				<th>True negative rate</th>
				<td>{{ original.performance.true_negative_rate }}</td>
				<td>{{ mitigated.performance.true_negative_rate }}</td>
			</tr>
			<tr>
				<th>False positive rate</th>
				<td>{{ original.performance.false_positive_rate }}</td>
				<td>{{ mitigated.performance.false_positive_rate }}</td>
			</tr>
			<tr>
				<th>False negative rate</th>
				<td>{{ original.performance.false_negative_rate }}</td>
				<td>{{ mitigated.performance.false_negative_rate }}</td>
			</tr>
			<tr>
				<th>Precision</th>
				<td>{{ original.performance.precision }}</td>
				<td>{{ mitigated.performance.precision }}</td>
			</tr>
			<tr>
				<th>Negative predictive value</th>
				<td>{{ original.performance.negative_predictive_value }}</td>
				<td>{{ mitigated.performance.negative_predictive_value }}</td>
			</tr>
			<tr>
				<th>False discovery rate</th>
				<td>{{ original.performance.false_discovery_rate }}</td>
				<td>{{ mitigated.performance.false_discovery_rate }}</td>
			</tr>
			<tr>
				<th>False omission rate</th>
				<td>{{ original.performance.false_omission_rate }}</td>
				<td>{{ mitigated.performance.false_omission_rate }}</td>
			</tr>
			<tr>
				<th>Accuracy</th>
				<td>{{ original.performance.accuracy }}</td>
				<td>{{ mitigated.performance.accuracy }}</td>
			</tr>
			<tr>
				<th>Error rate</th>
				<td>{{ original.classify.error_rate }}</td>
				<td>{{ mitigated.classify.error_rate }}</td>
			</tr>
			<tr>
				<th>Average odds difference</th>
				<td>{{ original.classify.average_odds_difference }}</td>
				<td>{{ mitigated.classify.average_odds_difference }}</td>
			</tr>
			<tr>
				<th>Average abs odds difference</th>
				<td>{{ original.classify.average_abs_odds_difference }}</td>
				<td>{{ mitigated.classify.average_abs_odds_difference }}</td>
			</tr>
			<tr>
				<th>Selection rate</th>
				<td>{{ original.classify.selection_rate }}</td>
				<td>{{ mitigated.classify.selection_rate }}</td>
			</tr>
			<tr>
				<th>Disparate impact</th>
				<td>{{ original.classify.disparate_impact }}</td>
				<td>{{ mitigated.classify.disparate_impact }}</td>
			</tr>
			<tr>
				<th>Statistical parity difference</th>
				<td>{{ original.classify.statistical_parity_difference }}</td>
				<td>{{ mitigated.classify.statistical_parity_difference }}</td>
			</tr>
			<tr>
				<th>Generalized entropy index</th>
				<td>{{ original.classify.generalized_entropy_index }}</td>
				<td>{{ mitigated.classify.generalized_entropy_index }}</td>
			</tr>
			<tr>
				<th>Theil index</th>
				<td>{{ original.classify.theil_index }}</td>
				<td>{{ mitigated.classify.theil_index }}</td>
			</tr>
			<tr>
				<th>Equal opportunity difference</th>
				<td>{{ original.classify.equal_opportunity_difference }}</td>
				<td>{{ mitigated.classify.equal_opportunity_difference }}</td>
			</tr>
		</tbody>
	</table>

	<h1>Chart</h1>
	<!-- Bias chart area -->
	<div>
		<h2>Performance</h2>
		<figure class="highcharts-figure">
			<div id="performance_bar" class="bar"></div>
			<div id="performance_bar3d" class="bar3d"></div>
			<div id="performance_spider" class="spider"></div>
		</figure>

		<h2>Bias</h2>
		<figure class="highcharts-figure">
			<div id="bias_bar" class="bar"></div>
			<div id="bias_bar3d" class="bar3d"></div>
			<div id="bias_spider" class="spider"></div>
		</figure>
	</div>

	<!-- Bias chart script -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="/static/src/bias_chart.js"></script>

	<!-- Resource Script -->
	<script>
		const performanceMeasure = {
			original: [
				{{ original.performance.true_negative_rate }}, 
				{{ original.performance.false_positive_rate }}, 
				{{ original.performance.false_negative_rate }}, 
				{{ original.performance.recall }}, 
				{{ original.performance.precision }}, 
				{{ original.performance.negative_predictive_value }}, 
				{{ original.performance.false_discovery_rate }}, 
				{{ original.performance.false_omission_rate }}, 
				{{ original.performance.accuracy }} 
			],
			mitigated: [
				{{ mitigated.performance.true_negative_rate }}, 
				{{ mitigated.performance.false_positive_rate }}, 
				{{ mitigated.performance.false_negative_rate }}, 
				{{ mitigated.performance.recall }}, 
				{{ mitigated.performance.precision }}, 
				{{ mitigated.performance.negative_predictive_value }}, 
				{{ mitigated.performance.false_discovery_rate }}, 
				{{ mitigated.performance.false_omission_rate }}, 
				{{ mitigated.performance.accuracy }}
			]
		};
		const performance_xAxis = ["TNR", "FPR", "FNR", "Recall", "Precision", "NPV", "FDR", "FOR", "ACC"];

		const biasMeasure = {
			original: [
				{{ original.classify.average_odds_difference }}, 
				{{ original.classify.selection_rate }}, 
				{{ original.classify.disparate_impact }}, 
				{{ original.classify.statistical_parity_difference }}, 
				{{ original.classify.theil_index }}, 
				{{ original.classify.equal_opportunity_difference }}
			],
			mitigated: [
				{{ mitigated.classify.average_odds_difference }}, 
				{{ mitigated.classify.selection_rate }}, 
				{{ mitigated.classify.disparate_impact }}, 
				{{ mitigated.classify.statistical_parity_difference }}, 
				{{ mitigated.classify.theil_index }}, 
				{{ mitigated.classify.equal_opportunity_difference }}
			]
		};
		const biasMeasure_xAxis = ["Average odds difference", "Selection rate", "Disparate impact", "Statistical parity difference", "Theil index", "Equal opportunity difference"];
		
		const performanceBar = new BarChart("performance_bar");
		performanceBar.setAxis(performance_xAxis);
		performanceBar.push(performanceMeasure.original, {color: "#FF0000bb", name: "Original"});
		performanceBar.push(performanceMeasure.mitigated, {name: "Mitigated"});
		performanceBar.show();

		const performanceBar3d = new BarChart3D("performance_bar3d");
		performanceBar3d.setAxis(performance_xAxis);
		performanceBar3d.push(performanceMeasure.original, {color: "#FF0000bb", name: "Original"});
		performanceBar3d.push(performanceMeasure.mitigated, {name: "Mitigated"});
		performanceBar3d.show();

		const performanceSpider = new SpiderWebChart("performance_spider");
		performanceSpider.setAxis(performance_xAxis);
		performanceSpider.push(performanceMeasure.original, {color: "#FF0000bb", name: "Original"});
		performanceSpider.push(performanceMeasure.mitigated, {name: "Mitigated"});
		performanceSpider.show();

		const biasBar = new BarChart("bias_bar");
		biasBar.setAxis(biasMeasure_xAxis);
		biasBar.push(biasMeasure.original, {color: "#FF0000bb", name: "Original"});
		biasBar.push(biasMeasure.mitigated, {name: "Mitigated"});
		biasBar.show();

		const biasBar3d = new BarChart3D("bias_bar3d");
		biasBar3d.setAxis(biasMeasure_xAxis);
		biasBar3d.push(biasMeasure.original, {color: "#FF0000bb", name: "Original"});
		biasBar3d.push(biasMeasure.mitigated, {name: "Mitigated"});
		biasBar3d.show();

		const biasSpider = new SpiderWebChart("bias_spider");
		biasSpider.setAxis(biasMeasure_xAxis);
		biasSpider.push(biasMeasure.original, {color: "#FF0000bb", name: "Original"});
		biasSpider.push(biasMeasure.mitigated, {name: "Mitigated"});
		biasSpider.show();
	</script>

	<br>
	<a href="/data">Home</a>
</body>
</html>