<html>
	<head>
		<title>Data selection</title>
	</head>
	<body>
		<h1>Data selection</h1>
		<form action="/original" method="post">
			<input type="radio" name="data_name" id="compas" value="compas" />
			<label for="compas">Compas(ProPublica recidicism)</label><br>
			<input type="radio" name="data_name" id="german" value="german" />
			<label for="german">German credit scoring</label><br>
			<input type="radio" name="data_name" id="adult" value="adult" />
			<label for="adult">Adult census income</label><br>
			<input type="radio" name="data_name" id="pubfig" value="pubfig" />
			<label for="pubfig">Public Figures Face Database</label>
			<input type="submit" name="submit" id="submit">
		</form>
	</body>
</html>