<html>
	<head>
		<title>Bias metrics</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style/biaschart.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style/dlchart.css') }}">
	</head>
	<body>
		<h1>Bias metrics</h1>
		<div>
			<b>Recall</b>: {{ recall }}<br>
			<b>True negative rate</b>: {{ true_negative_rate }}<br>
			<b>False positive rate</b>: {{ false_positive_rate }}<br>
			<b>False negative rate</b>: {{ false_negative_rate }}<br>
			<b>Precision</b>: {{ precision }}<br>
			<b>Negative predictive value</b>: {{ negative_predictive_value }}<br>
			<b>False discovery rate</b>: {{ false_discovery_rate }}<br>
			<b>False omission rate</b>: {{ false_omission_rate }}<br>
			<b>Accuracy</b>: {{ accuracy }}<br>
			<b>Error rate</b>: {{ error_rate }}<br>
			<b>Average odds difference</b>: {{ average_odds_difference }}<br>
			<b>Average abs odds difference</b>: {{ average_abs_odds_difference }}<br>
			<b>Selection rate</b>: {{ selection_rate }}<br>
			<b>Disparate impact</b>: {{ disparate_impact }}<br>
			<b>Statistical parity difference</b>: {{ statistical_parity_difference }}<br>
			<b>Generalized entropy index</b>: {{ generalized_entropy_index }}<br>
			<b>Theil index</b>: {{ theil_index }}<br>
			<b>Equal opportunity difference</b>: {{ equal_opportunity_difference }}<br>
		</div>
		<h1>Bias charts</h1>
		<div>
			<!-- Bias chart area -->
			<figure class="highcharts-figure">
				<div id="performance_chart" class="bar"></div>
				<div id="bias_chart" class="bar"></div>
			</figure>
		</div>

		<!-- Bias chart script -->
		<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
		<script type="text/javascript" src="https://code.highcharts.com/highcharts-3d.js"></script>
		<script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
		<script type="text/javascript" src="/static/src/bias_chart.js"></script>

		<!-- Resource Script -->
		<script type="text/javascript">
			const performanceMeasure = [
				{{ true_negative_rate }},
				{{ false_positive_rate }},
				{{ false_negative_rate }},
				{{ recall }},
				{{ precision }},
				{{ negative_predictive_value }},
				{{ false_discovery_rate }},
				{{ false_omission_rate }},
				{{ accuracy }}
			];

			const biasMeasure = [
				{{ average_odds_difference }},
				{{ selection_rate }},
				{{ disparate_impact }},
				{{ statistical_parity_difference }},
				{{ theil_index }},
				{{ equal_opportunity_difference }}
			]

			const performanceBar = new BarChart("performance_chart");
			performanceBar.setAxis(["TNR", "FPR", "FNR", "Recall", "Precision", "NPV", "FDR", "FOR", "ACC"]);
			performanceBar.push(performanceMeasure, {name: "Performance"});
			performanceBar.show();

			const biasBar = new BarChart("bias_chart");
			biasBar.setAxis(["Average odds difference", "Selection rate", "Disparate impact", "Statistical parity difference", "Theil index", "Equal opportunity difference"]);
			biasBar.push(biasMeasure, {name: "Bias Measure"});
			biasBar.show();
		</script>
		<a href="/data">Prev</a>
		<a href="/algorithm/{{data_name}}">Next</a>
	</body>
</html>